*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    transition: 0.3s ease;
}

nav{
    height: 50px;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-inline: 50px;
}

.logo{
    height: 100%;
    padding-right: 2rem;
    border-right: 2px solid black;
    letter-spacing: 5px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* color: white; */
}

.nav-links li{
    cursor: pointer;
}

.logo{
    cursor: pointer;
}

#hero-section{
    height: calc(100vh - 270px);
    /* background-color: lightgray; */
    /* background: transparent; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid black;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Poppins", sans-serif;
    box-shadow: 3px 3px black;
}

button:active{
    transform: scale(0.97);
}

footer{
    height: 220px;
    /* background-color: darkcyan; */
    padding: 20px 60px;
    /* color: white; */
    display: flex;
    justify-content: space-between;
    /* border-top: 2px solid black; */
    border-top: 2px solid black;

}

.links h3{
    margin-bottom: 10px;
}


.footer-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.f-logo{
    font-weight: 500;
    font-size: 1.7rem;
    letter-spacing: 5px;
}

.links{
    display: flex;
    gap: 70px;
}

.desc{
    width: 60%;
    text-align: justify;
    padding-top: 10px;
}